.container {
  padding: 0 2rem;
  background-color: darkred;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map {
  background-color: #0070f3;
  flex: 1;
}

.start {
  background-color: aqua;
  flex: 1;
}
