.container {
  padding: 0 2rem;
}

.map {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0070f3;
}

.start {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: aqua;
}
